.content {
    margin: auto;
    box-shadow: 0 12px 11px rgb(91 184 255 / 38%), 0 100px 80px rgb(91 184 255 / 43%);
    margin-top: 100px;
    z-index: 1;
}

table {
    position: relative;
    border-collapse: collapse;
    width: 100%;
}

td {
    width: 30%;
    padding: 50px;   
}

#bg {
    display: none;
}

#contest-box {
    position: relative;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    z-index: 0;
    height: 100%;
    box-shadow: 0 12px 11px #00000061;
    text-decoration:none;

}
#contest-box:hover {
    background-color: #c3c4ec96;
    transition: 0.3s ease-in-out;
}

#contest-box .title {
    font-size: 2em;
    font-weight: bold;
    color: #573b8a;
    margin-bottom: 20px;

}
#contest-box .description {
    font-size: 1.2em;

    
}
#contest-box .date {
    font-size: 1.2em;

    color: #3f3f3f;
}
#contest-box .status {
    font-size: 1.2em;
    color: #573b8a;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
